.header-bg::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
}

@media (min-width: 1025px) {
  .header-bg {
    background-attachment: fixed;
  }
}
